\.vscode/settings\.json

blog/__pycache__/__init__\.cpython-35\.pyc

blog/__pycache__/admin\.cpython-35\.pyc

blog/__pycache__/apps\.cpython-35\.pyc

blog/__pycache__/models\.cpython-35\.pyc

blog/__pycache__/urls\.cpython-35\.pyc

blog/__pycache__/views\.cpython-35\.pyc

blog/migrations/__pycache__/__init__\.cpython-35\.pyc

blog/migrations/__pycache__/0001_initial\.cpython-35\.pyc

blog/migrations/__pycache__/0002_employee\.cpython-35\.pyc

blog/migrations/__pycache__/0003_auto_20181002_1925\.cpython-35\.pyc

blog/migrations/__pycache__/0004_auto_20181002_1928\.cpython-35\.pyc

blog/migrations/__pycache__/0005_person\.cpython-35\.pyc

blog/migrations/__pycache__/0006_auto_20181005_0928\.cpython-35\.pyc

blog/migrations/__pycache__/0007_room_height\.cpython-35\.pyc

blog/migrations/__pycache__/0008_room_width\.cpython-35\.pyc

blog/migrations/__pycache__/0009_auto_20181005_1054\.cpython-35\.pyc

blog/migrations/__pycache__/0010_auto_20181005_1845\.cpython-35\.pyc

blog/migrations/__pycache__/0011_profile\.cpython-35\.pyc

blog/migrations/__pycache__/0012_auto_20181005_1915\.cpython-35\.pyc

blog/migrations/__pycache__/0013_reservation\.cpython-35\.pyc

blog/migrations/__pycache__/0014_room_slug\.cpython-35\.pyc

blog/migrations/__pycache__/0015_auto_20181007_1736\.cpython-35\.pyc

blog/migrations/__pycache__/0016_auto_20181007_1739\.cpython-35\.pyc

blog/migrations/__pycache__/0017_auto_20181007_1743\.cpython-35\.pyc

blog/migrations/__pycache__/0018_auto_20181007_1749\.cpython-35\.pyc

blog/migrations/__pycache__/0019_auto_20181007_1753\.cpython-35\.pyc

blog/migrations/__pycache__/0020_reservation_status\.cpython-35\.pyc

blog/migrations/__pycache__/0021_auto_20181007_1804\.cpython-35\.pyc

blog/migrations/__pycache__/0022_room_svgpath\.cpython-35\.pyc

blog/migrations/__pycache__/0023_auto_20181013_1324\.cpython-35\.pyc

blog/migrations/__pycache__/0024_room_floor\.cpython-35\.pyc

blog/migrations/__pycache__/0025_reservation_reason_of_reserve\.cpython-35\.pyc

blog/migrations/0025_reservation_reason_of_reserve\.py

project/__pycache__/__init__\.cpython-35\.pyc

project/__pycache__/forms\.cpython-35\.pyc

project/__pycache__/settings\.cpython-35\.pyc

project/__pycache__/urls\.cpython-35\.pyc

project/__pycache__/views\.cpython-35\.pyc

project/__pycache__/wsgi\.cpython-35\.pyc
*.pyc

db\.sqlite3
