/*body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}*/


/*--------login custom css by pp----------*/

.image-login {
  width: 50%;
  height: 93vh;
  
  float: left;
}

.right-panel {
  width: 50%;
  height: 93vh;
  float: right;
  padding: 10%;
}

.form-underline {
  width: 100%;
  border: 0 solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}
.login-btn {
  padding: 10px 15% 10px 15%;
  border-radius: 40px;
  margin-top: 2em;
}