@import url('https://fonts.googleapis.com/css?family=Kanit');


svg{ 
	width: 1000px;
	position: absolute;
	left: 200px;
}


body, html{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Kanit', sans-serif;
	scroll-behavior: smooth;
	transition: all 0.3s;
}

nav {
	position: fixed;
	width: 100%;
	background-color: rgba(0,0,0,80%);
	padding: 1em;
	text-align: center;
	z-index: 1;
}
nav a {
	color: #FFF;
	padding: 2em;
}

nav a:hover {
	color: #a2a1a1;
}


a:link {
	text-decoration: none;
}

#floor-side {
	width: 100px;
	height: 100%;
	background: #000;
	position: absolute;
	z-index: 2;
	padding-top: 56px;
}

.floor-number {
	width: 100px;
	height: 100px;
	font-size: 3em;
	text-align: center;
	color: #FFF;
}

.active, .floor-number:hover {
	background: #fae39c;
}

#floor {
	margin-top: 100px;
	margin-left: 100px;
}

.not-active {
	pointer-events: none;
}

#floor1-m-map {
	display: none;
}


#floor2-map {
	display: none;
}

#floor3-map {
	display: none;
}


.floor-1-no{
	fill:#FAC381;
}

.floor-1-yes{
	fill:#7491d0;
}
.floor-1-yes:hover{
	fill: #3867ce;
}

#detail-box {
	top:10%;
	left: 35%;
	width: 0%;
	height: 0%;
	background: blue;
	position: absolute;
	z-index: 1;
	background: rgba(0,0,0,80%);
	transition: 1s;
	padding-left: 2%;
	color: #FFF;
}

#detail-box p {
	display: none;
}

#close-detail {
	font-size: 3em;
	color: white;
	text-align: right;
	padding-right: 20px;
	right: 50px;
	display: none;
}

#room-number {
	font-size: 5vw;
	display: none;
	margin: 0;
}

#status {
	font-size: 2vw;
	display: none;
}

/*#reservation {
	font-size: 1vw;
	text-align: center;
	width: 10vw;
	height: 6vh;
	background-color: ##FFF;
	color: #000;
	border: none;
	display: none;
}*/

input[type=datetime-local] {
	border: 0;
  border-radius: 3px;
  margin: 2px;
  padding:5px;
}

button[type="submit"] {
	margin: 30px 0;
	background-color: #fae39c;
	border: 12px;
	color: #000;
	padding: 20px;
	display: none;
}

path {
	stroke: #FFF;
	fill: grey;
	transition: fill 0.3s;
}




/*#home {
	width: 70px;
	height: 70px;
	background: pink;
	color: #FFF;
	right: 20px;
	bottom: 20px;
	text-align: center;
	position: fixed;
}*/