@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body, html{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Kanit', sans-serif;
	scroll-behavior: smooth;
	transition: all 0.3s ease-in;
	/*background-image: url("img/zig.png");*/
	/*color: #FFF;*/
}

a {
	color: #FFF;
}

a:hover {
	color: gray;
}
a:link {
	text-decoration: none;
	color: #FFF;
}

#detail-box {
	left: 25%;
	width: 0;
	height: 0;
	top:700px;
	position: absolute;
	z-index: 5;
	background: rgba(0,0,0,80%);
	transition: 1s;
	color: #FFF;
    margin-bottom: 50px;
}

.text-in-detail-box {
	display: none;
	font-size: 1.2vw;
	margin: 5px;
}

#close-detail {
	font-size: 3em;
	color: white;
	text-align: right;
	padding-right: 20px;
	right: 50px;
	display: none;
	cursor: pointer;
}

#room-number {
	font-size: 4vw;
	display: none;
	margin: 0;
}

#status {
	font-size: 1.2vw;
	display: none;
}

/*-----------verify page-----------*/
.image-subheader {
	width: 100vw;
}

h1.text-subheader {
	font-size: 6vw;
	width: 50%;
	position: relative;
	top: -50px;
	left: 55px;
	margin: 0;
	line-height: 5vw;
	text-shadow: 1px 1px #FFF;
	color: #000;
	animation: textUpSub 1s ease-out;
}

@keyframes textUpSub {
    from {top: -30px;}
    to {top:-50px;}
}

.verify-block {
	background: #f1ecec;
	color: #000;
	margin: 5% 15%;
	padding: 5%;
}

.verify-block p {
	font-size: 18px;
}

.confirmBtn {
	margin: 1em;
	padding: 10px 40px;
	border: 0;
	background-color: gray;
	color: #FFF;
	pointer-events: none;

}

.cancelBtn {
	margin: 1em;
	padding: 10px 40px;
	background-color: #e22626;
	color: #FFF;

}


/*-----------check status page------------*/
#checkstatus {
margin: 5% 10% 5% 10%;
	height: auto;
}

.check-status-block {
	background: #444141;
	border-radius: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding:20px;
	color: #FFF;
	width: 250px;
	height: 300px;
	display: inline-block;
	cursor: pointer;
	/*position: relative;*/
}

.check-status-block:hover{
	background-color: #383535;
	box-shadow: 5px 10px #888888;
}

.approved {
	color: #28a745;
	font-size: 20px;
}

.disapproved {
	color: #e22626;
	font-size: 20px;
}

.waiting {
	color: gray;
	font-size: 20px;
}

.cancelReserve {
	padding: 1em;
	margin-top:2em;
	display: none;
}
