{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

  <h1> Hello {{user.username}}    click  <a href="{% url "logout" %}">Logout</a> </h1>
  <h1> reservation_list Click    <a href="{% url "reservation_status" %}">Check your reservation</a> </a>
  <h1> reservation_room (text) Click <a href="{% url "reservation_room" %}">reservation_room</a>  or reservation_room (GUI) Click <a href="{% url "reservation_map_1" %}">reserv_UI</a>
  <h1> reservation_manage Click <a href="{% url "reservation_manage" %}">reservation_manage</a>
{% else %}
  <h1> Hello guest Click <a href="{% url "login" %}">Login</a> </h1>
{% endif %}


{% endblock %}


