{% extends 'base.html' %}

{% block content %}
<html>
    <header>
    </header>
    <body>
        <h1>แก้ไขสถานที่</h1>
        {% for room in room %}
        <div>
            <form action="" method="GET">
                {% csrf_token %}
                <h1>Room: {{room.roomname}}</h1>
                Status: {{room.status}} <br>
                หมายเหตุ: <input type="text" name="note" placeholder="{{room.note}}"> <br>
                <i style="font-size: small; color: red;">ถ้าห้องใช้งานได้ปกติ กรุณาใส่ "-"</i> <br>
                <input type="radio" name="roomstatus" value="available"> Available
                <input type="radio" name="roomstatus" value="unavailable"> Unavailable <br>
                <button name="roomname" value="{{room.roomname}}">Confirm</button>
            </form>
        </div>
        <br>
        {% endfor %}
    </body>
</html>
{% endblock %}