
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="row">
    <div id="floor-side">
        <a href="{% url "reservation_map_1" %}"><div class="floor-number active">1</div></a>
        <a href="{% url "reservation_map_2" %}"><div class="floor-number" id="f2">2</div></a>
        <a href="{% url "reservation_map_3" %}"><div class="floor-number" id="f3">3</div></a>
    </div>

