{% extends 'base.html' %}

{% block content %}
        {% for re in res %}
        <form action="#" method="POST">
            {% csrf_token %}
            <h1>{{ re.room }} </h1>
            <h4>
                <li> Name : {{ re.student }} </li>
                <li> Date : {{ re.day_of_reserve }} </li>
                <li>Status : {{ re.status }}</li>
            </h4>
            <button onclick="acceptButton()" value="{{ re.id }} accepted" name="action">Accept</button>
            <button value="{{ re.id }} denied" name="action">Denied</button>
        </form>
        {% endfor %}
    <script>
        function acceptButton(){
            confirm('Are you sure ?');
        }
        function deniedButton(){
            
        }
    </script>
{% endblock %}
