{% extends 'base.html' %}

{% block content %}
        {% for re in res %}
        <form action="#" method="POST">
            {% csrf_token %}
            <h1>{{ re.room }} </h1>
            <h4>
                <li> Name : {{ re.student }} </li>
                <li> Date : {{ re.day_of_reserve }} </li>
                <li>Status : {{ re.status }}</li>
            </h4>
            <button id="acceptBtn" onclick="acceptButton('{{re.id}}')" value="" name="action">Accept</button> 
            <button id="deniedBtn" onclick="deniedButton('{{re.id}}')" value="" name="action">Denied</button>
        </form>
        {% endfor %}
    <script>
        function acceptButton(reserveId){
            var val;
            var action = confirm("Accepted?");
            if (action){
                val = reserveId + " accepted";
            } else {
                val = reserveId + " cancel";
            }
            document.getElementById("acceptBtn").value = val;
        }
        function deniedButton(reserveId){
            var val;
            var action = confirm("Denied?");
            if (action){
                val = reserveId + " denied";
            } else {
                val = reserveId + " cancel";
            }
            document.getElementById("deniedBtn").value = val;
        }
    </script>
{% endblock %}
