{% extends 'base.html' %}


{% block content %}

{% for room in rooms %}
<p class="wewew"> <h1>{{ room.roomname }}</h1>

<h5>  <li> room_height {{room.height}} </li>
  <li> room_width {{room.width}} </li>
  <li>rent_status {{room.status}} </li> </h5>
  {% if request.user.is_authenticated and room.status == 'yes' %}
  <form action=""   method="GET">
    <button type="submit" value="{{room.roomname}}" name = "room" >{{ room.roomname }}</button>
  </form>
  {% endif %}

</p>

{% endfor %}
{% endblock %}
</form>
