{% extends 'base.html' %}


{% block content %}
        {% for re in res %}
        <form action="#" method="POST">
            {% csrf_token %}
            <h1>{{ re.room }} </h1>
            <h4>
                <li> Name : {{ re.student }} </li>
                <li> Date : {{ re.day_of_reserve }} </li>
                <li>{{ re.status }}</li>
            </h4>
            {{ re.id }}
            <button onclick="acceptButton" value="{{ re.id }} a" name="action">Accept</button>
            <button value="{{ re.id }} d" name="action">Denied</button>
        </form>
        {% endfor %}
{% endblock %}
