
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>it reservation</title>

	<link rel="shortcut icon" href="{% static "img/itkmitl.jpg" %}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet"  href="{% static "css/reservation_map_1.css" %}">
	<script  src="{% static "js/script.js" %}"></script>
</head>


<body>
	<!-- {% include "base.html" %} -->
	{% include "blog/nav_side.html" %} 

	<div name="header">
		<section id="welcome">
			<img id="welcome" src="{% static "/img/it_background_black.png" %}">
			<h1 class="header-text">IT Reservation</h1>
		</section>
	</div>
	<div name="tutorial-step">
		<section class="tutorial-step">
			<div class="step-block" align="center">
				<div class="check-step step-img">
					<img src="{% static "/img/check_blank.png" %}">
					<p>ตรวจสอบสถานะ</p>
				</div>
				<div class="reserve-step step-img">
					<img src="{% static "/img/reserve.png" %}">
					<p>จองสถานที่</p>
				</div>
				<div class="wait-step step-img">
					<img src="{% static "/img/wait.png" %}">
					<p>รอการอนุมัติ</p>
				</div>
				<div class="finish-step step-img">
					<img src="{% static "/img/finish.png" %}">
					<p>เริ่มใช้งาน</p>
				</div>
			</div>
		</section>
	</div>


	<!-- {% include "blog/nav_side.html" %} -->
	<!--  <<< this line is navbar  -->

	<div name="map">
		<section id="view-floor">
			<div class="map-header">
				<h1>FLOOR <div id="floor-number">1 </div> </h1>
				<form action=""   method="GET">	
					<div class="start-time">
						<input type="date" value="2018-12-25" name="check-date-start">
						<input type="time" value="16:00" name="check-time-start">
					</div>
					<div class="end-time">
						<input type="date" value="2018-12-25" name="check-date-end">
						<input type="time" value="17:00" name="check-time-end">
						<button id="checking_btn" type="submit" value="">check</button>
						
					</div>

					{% if start_time != end_time %}
						<p align="center" style="top:90px; left: 25px; position: relative; width:100%; font-size: 14px;">
							You search reservation time between <br>{{start_time}} to {{end_time}}</p>
						{% endif %}
				</form>
			</div>

		<div class="map">

				<div class="map-image">
					<!-- floor 1-m -->
					<div id="floor-1-m-map" class="mySlides">
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 900" preserveAspectRatio="xMidYMid meet">
							<g transform="translate(0.000000,800.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="#FFF">

								<path class="lift floor-1 not-active" d="M6020 3740 l0 -370 330 0 330 0 0 370 0 370 -330 0 -330 0 0 -370z"></path>
								<path class="stair floor-1 not-active" d="M7630 5920 c0 -20 7 -20 565 -20 558 0 565 0 565 20 0 20 -7 20 -565    20 -558 0 -565 0 -565 -20z"></path>
								<path class="stair floor-1 not-active" d="M7740 5850 c0 -20 7 -20 470 -20 463 0 470 0 470 20 0 20 -7 20 -470    20 -463 0 -470 0 -470 -20z"></path>
								<path class="stair floor-1 not-active" d="M7810 5780 c0 -20 7 -20 390 -20 383 0 390 0 390 20 0 20 -7 20 -390    20 -383 0 -390 0 -390 -20z"></path>
								<path class="toilet floor-1 not-active" d="M9530 5405 l0 -385 260 0 260 0 0 385 0 385 -260 0 -260 0 0 -385z"></path>
								<path id="regis-room" class="floor-m not-active" d="M3690 5235 l0 -515 825 0 825 0 0 515 0 515 -825 0 -825 0 0 -515z"></path>	
								<path class="floor-m not-active" d="M330 4435 l0 -255 280 0 280 0 0 -900 0 -900 -280 0 -280 0 0 -505 0    -505 2505 0 2505 0 0 950 0 950 -35 0 c-34 0 -35 1 -35 40 0 39 -1 40 -35 40    -35 0 -35 0 -35 45 0 45 0 45 -35 45 l-35 0 0 420 0 420 35 0 c33 0 35 2 35    35 0 33 2 35 35 35 l35 0 0 55 0 55 35 0 35 0 0 115 0 115 -2505 0 -2505 0 0    -255z m3370 -1160 l0 -975 -1335 0 -1335 0 0 975 0 975 1335 0 1335 0 0 -975z"></path>
								<path class="stair floor-m not-active" d="M5300 3865 c0 -558 0 -565 20 -565 20 0 20 7 20 565 0 558 0 565 -20    565 -20 0 -20 -7 -20 -565z"></path>
								<path class="stair floor-m not-active" d="M5230 3850 c0 -463 0 -470 20 -470 20 0 20 7 20 470 0 463 0 470 -20    470 -20 0 -20 -7 -20 -470z"></path>
								<path class="stair floor-m not-active" d="M5160 3860 c0 -383 0 -390 20 -390 20 0 20 7 20 390 0 383 0 390 -20    390 -20 0 -20 -7 -20 -390z"></path>
								<path class="toilet floor-m not-active" d="M90 3280 l0 -870 385 0 385 0 0 870 0 870 -385 0 -385 0 0 -870z"></path>
								<path class="stair floor-1 not-active" d="M5370 2455 c0 -558 0 -565 20 -565 20 0 20 7 20 565 0 558 0 565 -20    565 -20 0 -20 -7 -20 -565z"></path>
								<path class="stair floor-1 not-active" d="M5440 2470 c0 -463 0 -470 20 -470 20 0 20 7 20 470 0 463 0 470 -20    470 -20 0 -20 -7 -20 -470z"></path>
								<path class="stair floor-1 not-active" d="M5510 2460 c0 -383 0 -390 20 -390 20 0 20 7 20 390 0 383 0 390 -20    390 -20 0 -20 -7 -20 -390z"></path>
								<path class="stair floor-1 not-active" d="M9820 2425 c0 -418 0 -425 20 -425 20 0 20 7 20 425 0 418 0 425 -20    425 -20 0 -20 -7 -20 -425z"></path>


								<path id="g25" class="floor-1 not-active" d="M5370 640 l0 -240 230 0 230 0 0 240 0 240 -230 0 -230 0 0 -240z"></path>
								<path class="stage floor-1 not-active" d="M6490 590 l0 -280 310 0 310 0 0 280 0 280 -310 0 -310 0 0 -280z"></path>
								{% for room in rooms %}
									{% if room.floor == 1 %}
										{% if room.status  == "no" %}
										<path id="{{room.roomname}}" class="floor-1-no" d="{{room.svgpath}}"></path>
										{% else %}
										<path id="{{room.roomname}}" class="floor-1-yes" onclick="showDetail(this.id , '{{room.status}}')" d="{{room.svgpath}}"></path>
										{% endif %}
									{% endif %}							
								{% endfor %}

								{% for room in r_check %}
									{% if room.floor == 1 %}				
										<path id="{{room.roomname}}" class="floor-1-pending" onclick="showDetail(this.id , '{{room.status}}')" d="{{room.svgpath}}"></path>
									{% endif %}
								{% endfor %}

							</g>

							<text transform="matrix(0.9388 0 0 1 444.5 117.0723)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="45.7116">Auditorium</text>
							<text transform="matrix(1.0632 0 0 1 752.5078 456.752)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="51.3583">Hall</text>
							<text transform="matrix(1 0 0 1 427.9736 717.5)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="36">M23</text>
							<text transform="matrix(1 0 0 1 248.9736 717.5)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="36">M22</text>
							<text transform="matrix(1 0 0 1 76.9736 717.5)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="36">M21</text>
							<text transform="matrix(1.1771 0 0 1 248.9736 289.2051)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="36">M03</text>
							<text transform="matrix(1.138 0 0 1 76.9736 288.4351)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="36">M04</text>
							<text transform="matrix(0.9493 0 0 1 401 276.5)" enable-background="new    "><tspan x="0" y="0" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="30.495">register</tspan><tspan x="0" y="36.594" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="30.495">room</tspan></text>
							<text transform="matrix(1.0178 0 0 1 733 90.9438)"><tspan x="0" y="0" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="35.8665">Auditorium</tspan><tspan x="0" y="43.04" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="35.8665">  Entrance</tspan></text>
							<text transform="matrix(1.4356 0 0 1 583 286.5107)" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="32.9592">111</text>
							<text transform="matrix(1.0619 0 0 1 979.5 353.0996)" enable-background="new    "><tspan x="0" y="0" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="31.2754">Common</tspan><tspan x="0" y="37.53" fill="#00F284" font-family="'MyriadPro-Regular'" font-size="31.2754">Room</tspan></text>
						</svg>
					</div>


				{% include "blog/reservation_map_2.html" %}<!-- floor 2 -->
				{% include "blog/reservation_map_3.html" %}  <!-- floor 3 -->
				</div>

			<div class="select-floor">
					<div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="height:5%; width:100%;">
						<h2 class="slide-left" onclick="plusDivs(-1)"> < </h2>
						<h2 class="slide-right"onclick="plusDivs(1)"> > </h2>

						<!-- <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
						<div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div> -->
						<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
						<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
						<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
					</div>
			</div>
		</div>
	</div>

<div id="detail-box">
		<div id="close-detail" onclick="exit()">X</div>
		<div id="room-number">Room Number</div><br>
		<p> status: <div id="status">status here</div></p><br>

		<form action="" method="GET">
			<input type="hidden" id ="demo" name="room" value="" />
			<p>Begin Reserve : </p><br>
			<input class="datetime" type="date" value="2018-01-01" name="res-date-start">
			<input class="datetime"type="time" value="16:00" name="res-time-start"><br>
			<p>End Reserve : </p><br>
			<input class="datetime" type="date" value="2018-12-25" name="res-date-end">
			<input class="datetime" type="time" value="17:00" name="res-time-end"><br>
			<button id="reserve" type="submit" value="">Reserve</button>
			<input type="hidden" name="username" value="{{user.username}}" />

		</form>
</div>



</section>
<script type="text/javascript">
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
		showDivs(slideIndex += n);
	}

	function currentDiv(n) {
		showDivs(slideIndex = n);
	}

	function showDivs(n) {
		var i;
		var x = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("demo");
		if (n > x.length) {slideIndex = 1}    
			if (n < 1) {slideIndex = x.length}
				for (i = 0; i < x.length; i++) {
					x[i].style.display = "none";
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" w3-white", "");
				}
				x[slideIndex-1].style.display = "block";  
				dots[slideIndex-1].className += " w3-white";
			}
		</script>
	</body>
	{% endblock %}
	</html>