{% extends 'base.html' %}


{% block content %}
    reservation_list of {{user.username}}

    {% for res in reservation_list %}

    <h1> room : {{res.room}} </h1>
    <h5>
    
    <li> status : {{res.status}}</li>
   <li>  teacher : {{res.teacher}}</li>
      <li>  reserving date : {{res.day_of_reserve}}</li>
    {% if request.user.is_authenticated and res.status == 'pending' %}
  <form action=""   method="GET">
    <button type="submit" value="{{res.id}}" name = "reservation" > CANCEL </button>
    {% endif %}
    </h5>

    {% endfor %}


{% endblock %}
