{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static "img/itkmitl.jpg" %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}IT Reservation{% endblock %}</title>
  <!-- <link href="{% static "css/blog.css" %}" rel="stylesheet"> -->

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/1-col-portfolio.css" %}" rel="stylesheet">

</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'reservation_map_1' %}">Reservation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservation_table' %}">Reservation Status</a>
          </li>

          {% if emp.role == "teacher" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservation_manage' %}" style="padding-right: 35px;">Manage Reservation
            </a>
          </li>
          {% elif emp.role == "staff" %}
          <li class="nav-item active">
           <a class="nav-link" href="{% url 'reservation_manage' %}" style="padding-right: 20px;">Manage Reservation
           </a>
         </li>
         <li>
           <a class="nav-link" href="{% url 'manage_room' %}" style="padding-right: 35px;">Manage Room</a>
         </li>
         {% else%}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'reservation_status' %}">Your Reservation</a>
        </li>

        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> 


{% block content %}
{% endblock %}


</body>
</html>
