{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static "img/itkmitl.jpg" %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}IT Reservation{% endblock %}</title>
  <!-- <link href="{% static "css/blog.css" %}" rel="stylesheet"> -->

  <!-- Bootstrap core CSS -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "css/1-col-portfolio.css" %}" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

  

  <!-- <title>Reservation</title> -->


<!-- <style>
.navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav{
  display:flex;
  align-items:center;
}
</style> -->

<body>
<!-- <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url "home" %}">Reservation</a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li><a href="{% url "reservation_manage" %}">manage</a></li>
      <li><a href="{% url "reservation_room" %}"> reserve room</a></li>
      <li><a href="{% url "reservation_status" %}">your reservation</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url "logout" %}"> <button class="btn btn-danger navbar-btn">   Logout</button></a></li>
      {% else %}
      <li> <a href="{% url "login" %}"> <button class="btn btn-success navbar-btn">   Login</button></a></li>
      {% endif %}

    </ul>
    
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'reservation_map_1' %}">Reservation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

      {% if emp.role == "teacher" %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'reservation_manage' %}" style="padding-right: 35px;">Manage Reservation
            <span class="sr-only">(current)</span>
          </a>
		</li>
		{% elif emp.role == "staff" %}
		<li class="nav-item active">
        	<a class="nav-link" href="{% url 'reservation_manage' %}" style="padding-right: 55px;">Manage Reservation
        	</a>
      	</li>
      	<li>
        	<a class="nav-link" href="{% url 'manage_room' %}" style="padding-right: 35px;">Manage Room</a>
      	</li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reservation_status' %}">Your reservation</a>
        </li>
      {% endif %}
      
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> 


    {% block content %}
    {% endblock %}


</body>
</html>
